@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  background-color: #000;
  color: #FFF;
}
/* Styles for the event list */

.event-list-container {
  max-width: 90%;
  margin: 0 auto;
  padding: 20px;
  background-color: #000; 
  color: #FFF;
}

.event-list-title {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 20px;
  font-family: 'Oswald', sans-serif;
}

.event-list {
  list-style: none;
  padding: 0;
}

.event-item {
  flex: 0 0 300px;
  margin-right: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-family: 'Oswald', sans-serif;
}

.event-item-content {
  display: flex;
  flex-direction: row;
}

.event-image {
  width: 225px;
  height: 225px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 10px;
}

.event-details {
  flex: 1;
  text-align: left;
  margin-left: 12px;
}

.event-name {
  font-size: 2em;
  margin-bottom: 0;
  margin-top: 0;
}

.event-venue {
  font-size: 1.2em;
  margin-bottom: 5px;
  text-transform: uppercase;
}

.event-date,
.event-time {
  font-size: 1.2em;
  color: #ccc;
}

.event-url a {
  color: #007bff;
  text-decoration: none;
}

.event-url a:hover {
  text-decoration: underline;
}


.header {
  text-align: center;
}

.logo {
  text-align: center;
  font-size: 6em;
  font-weight: 800;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}

.search-input {
  width: 250px;
}

.search-btn {
  width: 70px;
}

.event-categories {
  display: flex;
  justify-content: space-evenly;
  font-family: "Oswald", sans-serif;
  font-size: 1.5em;
}

.event-search-item {
  list-style: none;
  display: flex;
  cursor: pointer;
}