@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,200;10..48,300;10..48,400;10..48,500;10..48,600;10..48,700;10..48,800&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
  margin: 0;
  font-family: "Bricolage Grotesque", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #010101;
}

/* header styles */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #010101;
  margin: 0 1rem;
}

.logo {
  font-size: 4em;
  font-weight: 800;
  color: #E6E6E6;
  margin: 0;
  font-family: "Bricolage Grotesque", sans-serif;
}

.search-bar {
  display: flex;
  align-items: center;
}

.search-input {
  width: 280px;
  font-family: "Bricolage Grotesque", sans-serif;
  padding: 0.5rem;
  border: none;
  font-size: 1.2em;
}

.search-btn {
  width: 80px;
  font-family: "Bricolage Grotesque", sans-serif;
  padding: 0.5rem;
  border: none;
  font-size: 1.2em;
}

.event-categories {
  display: flex;
  align-items: center;
  font-family: "Bricolage Grotesque", sans-serif;
  font-size: 1.4em;
  color: #E6E6E6;
  text-transform: lowercase;
}

.event-search-item {
  list-style: none;
  cursor: pointer;
  margin-right: 1rem;
}

/* Event list styles */

.event-list-container {
  display: flex;
  margin: 2rem;
}


.event-image {
  width: 100%;
  max-width: 100%;
  border: 2px solid #E6E6E6;
}

.event-list-title {
  font-size: 1.4em;
  text-align: center;
}

.event-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.event-name {
  font-size: 2.2em;
  font-weight: bold;
  color: #E6E6E6;
}

.event-venue {
  font-size: 1.6em;
  color: #E6E6E6;
}

.event-item {
  width: 20rem;
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}

.event-item-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.event-details {
  display: flex;
  flex-direction: column;
}

.event-date {
  font-size: 1.6em;
  color: #E6E6E6;
}

.ticket-btn {
  width: 140px;
  padding: 0.5rem;
  border: none;
  font-size: 1.2em;
  margin-top: 1rem;
  background-color: #E6E6E6;
  cursor: pointer;
}

/* media queries for navigation bar */

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: center;
  }

  .search-bar {
    margin-top: 1rem;
  }

  .event-categories {
    margin-top: 1rem;
    text-align: center;
    justify-content: center;
  }

  .event-search-item {
    margin-right: 0.5rem;
  }
  
  .search-input,
  .search-btn {
    width: 100%;
    margin: 0;
  }
}