@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,200;10..48,300;10..48,400;10..48,500;10..48,600;10..48,700;10..48,800&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
  margin: 0;
  font-family: "Bricolage Grotesque", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* header styles */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #010101;
}

.logo {
  font-size: 4em;
  font-weight: 800;
  color: #E6E6E6;
  margin: 0;
  font-family: "Bricolage Grotesque", sans-serif;
}

.search-bar {
  display: flex;
  align-items: center;
}

.search-input {
  width: 280px;
  font-family: "Bricolage Grotesque", sans-serif;
  padding: 0.5rem;
  border: none;
  font-size: 1.2em;
}

.search-btn,
.ticket-btn {
  width: 100px;
  font-family: "Bricolage Grotesque", sans-serif;
  padding: 0.5rem;
  border: none;
  font-size: 1.2em;
}

.event-categories {
  display: flex;
  align-items: center;
  font-family: "Bricolage Grotesque", sans-serif;
  font-size: 1.4em;
  color: #E6E6E6;
  text-transform: lowercase;
}

.event-search-item {
  list-style: none;
  cursor: pointer;
  margin-right: 1rem;
}

/* Event list styles */

img {
  min-width: 100px;
  max-height: 200px;
  border: 2px solid #E6E6E6;
}

.event-list-container {
  padding: 20px;
  background-color: #010101;
  /* background-image: url("./images/background-two.jpg");
  background-position: center center;
  background-attachment: fixed; */
}

.event-list-title {
  font-size: 1.4em;
  text-align: center;
  margin-bottom: 20px;
}

.event-list {
  list-style: none;
  padding: 0;
}

.event-name {
  font-size: 2.2em;
  font-weight: bold;
  margin: 0;
  position: relative;
  top: -2rem;
  text-transform: uppercase;
  z-index: 1;
  font-family: "Poppins", sans-serif;
  -webkit-text-stroke: 1.2px #040404;
  -webkit-background-clip: text;
  background-clip: text;
  color: #E6E6E6;
}

.event-venue {
  font-size: 2.2em;
  margin-bottom: 5px;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0;
  position: relative;
  text-transform: uppercase;
  z-index: 1;
  font-family: "Poppins", sans-serif;

  -webkit-text-stroke: 1.2px #040404;
  -webkit-background-clip: text;
  background-clip: text;
  color: #E6E6E6;
}

.event-item {
  margin-bottom: 1rem;
}

.event-details {
  margin-left: 4rem;
}

.event-date {
  font-size: 1.6em;
  color: #E6E6E6;
}

.ticket-btn {
  width: 140px;
  font-family: "Bricolage Grotesque", sans-serif;
  padding: 0.5rem;
  border: none;
  font-size: 1.2em;
}

/* media queries for navigation bar */

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: center;
  }

  .search-bar {
    margin-top: 1rem;
  }

  .event-categories {
    margin-top: 1rem;
    text-align: center;
    justify-content: center;
  }

  .event-search-item {
    margin-right: 0.5rem;
  }
  
  .search-input,
  .search-btn {
    width: 100%;
    margin: 0;
  }
}
